//最佳销售单品
.index-categrory{
  .best {
    overflow: hidden;

    .title {
      font-size: 14px;
      text-align: center;
      margin: 15px 0;
    }

    .SalesGoods-box {

      .SalesGoods-item {
        text-align: center;
        display: inline-block;
        width: 33.33%;
        padding: 0 3px;
        box-sizing: border-box;
        vertical-align: middle;
        margin-bottom: 6px;

        .item {
          background: #FFFFFF;
        }
      }

      .slider-image {
        width: 100%;
      }
      .goods-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 2px;
      }

      .money-box {
        display: flex;
        align-items: center;
        padding-left: 7px;
        .money-now {
          color: red;
          font-size: 12px;
        }
        .money-old {
          color: #c7c7c7;
          font-size: 13px;
          text-decoration: line-through;
        }
      }
    }
    .button-box {
      width: 100%;
      height: 44px;
      text-align: center;
      line-height: 44px;
      background: #FFFFFF;
      margin-bottom: 10px;

    }
  }

}